* {
    margin: 0;
    padding: 0;
}

html {
    background: #2d7598;
}

nav ul li {
    font-family: 'Amatic SC', cursive;
    position: relative;
    left: 30px;
    font-size: 25px;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 10px;
}

#logo {
    position: absolute;
    top: -10px;
    left: -58px;
}

#swipeButton {
    position: absolute;
    left: -210px;
    top: 8px;
    visibility: visible;
}

#swipeClose {
    position: absolute;
    top: 24px;
    left: 347px;
    visibility: hidden;
    opacity: 0;
}

nav {
    position: relative;
    text-align: center;
    background: #eff9fe;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    text-decoration: none;
}

body a:link {
    text-decoration: none;
    color: white;
}

body a:visited {
    color: white;
}

section#startButton {
    position: relative;
    top: 30px;
    text-align: center;
}

section#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: white;
    width: 0%;
    height: 100%;
    background-color: rgba(50, 50, 50, .9);
}

section#overlay p {
    text-align: center;
    position: relative;
    top: 200px;
    visibility: hidden;
}

section#overlay nav#close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 25px;
    border: 1px white solid;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    background-color: rgba(50, 50, 50, .9);
}

section#navOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color: white;
    width: 0%;
    height: 100%;
    background-color: #dead60;
}

section#navOverlay p {
    position: relative;
    top: 0px;
    left: 20px;
    line-height: 200%;
    visibility: hidden;
}

hr {
    height: 1px;
    position: relative;
    top: -2px;
    border: 0px;
    border-top: 1px solid #fff;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin-top: 10px;
    font-size: 30px;
}

h4 {
    margin-top: 30px;
    color: #dead64;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    margin-left: 50px;
}

section#deals ul {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    margin-left: 50px;
    list-style-type: none;
}